@font-face {
    font-family: 'TradeGothic';
    src: url('./assets/Trade_Gothic_Font/14 Trade Gothic Font Download/Trade Gothic LT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('./assets/Trade_Gothic_Font/14 Trade Gothic Font Download/Trade Gothic LT Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
